.header__lang {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  text-align: right;
}

@media (max-width: 767px) {
  .header__lang {
    font-size: 18px;
    line-height: 20px;
  }
}
