.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* В Фигме верхний отступ для ширины 320px равен 34px. Но по сравнению с другими ширинами он отличается слишком мало.
  На основании этого я принял решение, что это ошибка дизайнера. */
/* @media (max-width: 767px) {
  .intro__title {
    margin: 34px 0 0;
  }
} */
