.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  align-self: end;
}

.footer__copyright::before {
  content: "\a9\a0"; /* &copy;&nbsp; */
}

@media (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
    align-self: start;
  }
}
